spring:
    application:
        name: config-server
    cloud:
        config:
            server:
                git:
                    uri: https://github.com/hemant-mahor48/roadrescue-config-repo

server:
    port: 8888
